<% x = a || p %>
<div class="modal fade" id=<%= x.pid %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog big-modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if x.picture %>
        <div class="modal-pic-div"><%= link_to image_tag(x.picture, class: 'modal-pic'), x.link %></div>
        <div class="modal-message">
      <% else %>
        <div class="modal-message-full">
        <% end %>
          <div>
            <p>Seller: <%= user_link(p) %></p>
            <p>Create: <%= time_ago_in_words(p.created_time) %> ago</p>
            <p>Updated: <%= time_ago_in_words(p.updated_time) %> ago</p>
            <%= link_to 'Facebook', x.link, class: 'btn btn-primary' %>
            <%= link_to 'Follow', x.link, class: 'btn btn-danger' %>
          </div>
          <p>
          <%= simple_format(auto_link(x.message || p.message)) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
