<div class="modal fade" id=<%= a.attachment_id %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog big-modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if a.full_picture %>
        <div class="modal-pic-div"><%= link_to image_tag(a.full_picture, class: 'modal-pic'), a.link %></div>
        <div class="modal-message">
      <% else %>
        <div class="modal-message-full">
        <% end %>
          <div>
            <p>Seller: <%= user_link(p) %></p>
            <p>Create: <%= time_ago_in_words(p.created_time) %> ago</p>
            <p>Updated: <%= time_ago_in_words(p.updated_time) %> ago</p>
            <%= link_to 'Facebook', a.link, class: 'btn btn-primary', target: '_blank' %>
            <% if user_signed_in? %>
                <%= link_to 'Follow', follows_path(p), class: 'btn btn-danger', method: :post, remote: true %>
            <% end %>
          </div>
          <% if p.product_name %>
              <p>
              <%= p.product_name %><br>
              <%= p.price %> - <%= p.place %>
              </p>
          <% end %>
          <p>
          <%= simple_format(auto_link(a.message || p.message)) %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
