<div class='sqr'>
  <div class='message-head'>
      <% if p.product_name.nil? %>
          <%= simple_format(truncate(p.message, length: 30, separator: '\n')) %>
      <% else %>
          <p><%= p.product_name %><br>
          <%= p.price %></p>
      <% end %>
  </div>
  <% product_id = x == p ? x.product_id : x.attachment_id %>
  <%= link_to '#', 'data-toggle': 'modal', 'data-target': "##{product_id}" do
    if x.full_picture
      image_tag(x.full_picture, class: 'sqr-img')
    else
      simple_format(p.message)
    end
  end %>

  <%= link_to image_tag('icon-02.png', class: 'facebook hover-icon'), x.link, target: '_blank' %>
  <%= render 'products/loveca', p: p %>
</div>
<%= if p == x
        render 'products/modal', p: p 
    else
        render 'products/modal_a', p: p, a: x
    end
%>
<%#= render 'products/modal', p: p, a: x %>

