<table class="table" style="table-layout:fixed; word-break:break-all">
    <col width="180px">
    <col width="500px">
    <tr>
        <th>Picture</th>
        <th>Message</th>
        <th>Seller</th>
        <th>Created at</th>
        <th>Updated at</th>
    </tr>
    <% @product.each do |p| %>
        <tr>
            <td style="text-align: center"><%= link_to image_tag(p.picture), p.link, title: "link to facebbok" %></td>
            <td><%= simple_format(p.message) %> </td>
            <td><%= link_to p.name, "https://www.facebook.com/#{p.uid}" %></td>
            <td><%= p.created_time %> (<%= time_ago_in_words(p.created_time) %> ago)</td>
            <td><%= p.updated_time %> (<%= time_ago_in_words(p.updated_time) %> ago)</td>

        </tr>
    <% end %>
</table>

