<h1>We have <%= pluralize @products.count, 'product' %> now! </h1>
<table class="table">
    <tr>
        <th>Picture</th>
        <th>Message</th>
        <th>Seller</th>
        <th>Created at</th>
        <th>Updated at</th>
    </tr>
    <% @product.each do |p| %>
        <tr>
            <td><%= link_to image_tag(p.picture), p.link, title: "link to facebbok" %></td>
            <td><%= simple_format(p.message) %> </td>
            <td><%= link_to p.name, "https://www.facebook.com/#{p.uid}" %></td>
            <td><%= p.created_time %> (<%= time_ago_in_words(p.created_time) %>)</td>
            <td><%= p.updated_time %> (<%= time_ago_in_words(p.updated_time) %>)</td>

        </tr>
    <% end %>
</table
