<div class='container'>
  <% @products.each do |p| %>
    <% @p = p %>
    <% if p.attachments.empty? %>
      <div class='sqr'>
        <% if p.picture %>
          <%= link_to image_tag(p.picture, class: 'sqr-img'), p.link, 'data-toggle': 'modal', 'data-target': "##{p.pid}" %>
          <%= render 'modal' %>

        <% else %>
          <%= link_to simple_format(p.message), p.link %>
        <% end %>
        <%= link_to image_tag('loveca-01.png', class: 'loveca'), follows_path(p), method: :post %> 
      </div>
    <% else %>
      <% p.attachments.each do |a| %>
        <% @a = a %>
        <div class='sqr'>
          <%= link_to image_tag(a.picture, class: 'sqr-img'), a.link, 'data-toggle': 'modal', 'data-target': "##{a.pid}" %>
          <%= link_to image_tag('loveca-01.png', class: 'loveca'), follows_path(p), method: :post %> 
          <%= render 'modal' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<p>
<%= paginate @products %>
</p>
