<div class='container'>
  <% @products.each do |p| %>
    <% if p.attachments.empty? %>
      <div class='sqr'>
        <% if p.picture %>
          <%= sqr_link_image_for(p) %> 
        <% else %>
          <%= simple_format(p.message) %>
        <% end %>
        <%= link_to image_tag('loveca-01.png', class: 'loveca'), follows_path(p), method: :post %> 
      </div>
    <% else %>
      <% p.attachments.each do |a| %>
        <div class='sqr'>
          <%= sqr_link_image_for(a) %>
          <%#= image_tag 'loveca-01.png', class: 'loveca'%>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<p>
<%= paginate @products %>
</p>

